#detalle-equipo{
    background-color: white;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.tab-button {
    margin-right: 10px;
}

.buttons{padding: 1rem;}

.buttons button{
    align-items: center;
    background-color: rgb(229 231 235)!important;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: .25rem;
    border: none !important;
}

.buttons button:hover{
    background-color: rgb(194, 195, 197);
}

.buttons .active{
    background-color: #003366 !important;
    color: white !important;
}


/* Ajustes para form-floating */
.form-floating > label {
    color: rgb(33, 37, 41) !important;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    min-height: 1px;
    height: 31px;
}

.form-floating > .form-control {
    height: 40px;
    min-height: 1px;
    padding: 5px 7px;
    color: rgb(33, 37, 41);
}

.form-floating > .form-control:focus ~ label {
    color: rgb(0, 123, 255);
}

.form-floating > .form-control:focus ~ label::after {
    background-color: transparent;
}

.withUnid{
    display: flex;
}

.withUnid input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.withUnid span{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Botón de volver */
#navigation-info {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

#navigation-info p {
    margin: 0;
    padding-left: 8px;
    border-left: 2px solid #013882;
    margin-left: 8px;
    font-weight: bold;
    color: #013882;
}

.volverBtn {
    width: 33px;
    height: 33px;
    background-color: #013882;
    padding: 0;
    border-radius: 50px;
    border: 0;
}

.volverBtn i{
    color: white;
    font-size: 18px;
}

.list-group button {
    border-radius: 6px;
}

.list-group-item-action:focus {
    background-color: #e5e7eb;
    font-weight: bold;
    color: rgb(49, 48, 48); 
}

.list-group-item {
    background-color: transparent;
    border: none;
}


/* Estilo base del botón */
.btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #808080; /* Gris */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    width: 50%; /* Ocupa todo el ancho */
    text-align: left;
    cursor: pointer;
    box-shadow: none;
}

/* Cambiar el estilo al pasar el mouse */
.btn-custom:hover {
    background-color: #6e6e6e; /* Gris más oscuro */
}

/* Estilo del ícono */
.btn-custom i {
    font-size: 21px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1;
}


.btn-custom-excel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F5936;
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    width: 50%; /* Ocupa todo el ancho */
    text-align: left;
    cursor: pointer;
    box-shadow: none;
}

/* Cambiar el estilo al pasar el mouse */
.btn-custom-excel:hover {
    background-color: #6e6e6e; /* Gris más oscuro */
}

/* Estilo del ícono */
.btn-custom-excel i {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1;
}
